body {
  background-color: #0d3b47;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 0;
}
.navbar {
  background-color: #0d3b47;
  color: #fff;
  padding: 10px 20px;
  position: fixed;        
  top: 0;                 
  left: 0;
  right: 0;
  z-index: 1000;          
}
    .navbar .navbar-brand {
      color: #fff;
      font-weight: bold;
      font-size: 20px;
    }
    .navbar .user-info {
      color: #fff;
      margin-left: auto;
      display: flex;
      align-items: center;
      font-size: 16px;
    }
    .navbar .user-info i {
      margin-right: 8px;
    }
.sidebar {
  position: fixed;
  top: 70px;              
  left: 0;
  width: 200px;
  height: calc(100% - 70px);
  background-color: #0d3b47;
  padding-top: 20px;
}

    .sidebar a {
      display: block;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
    }
    .sidebar a:hover, .sidebar a.active {
      background-color: #ff9900;
      color: #fff;
    }
    .content {
      margin-left: 220px;
      padding: 20px;
       margin-top: 80px; 
    }
    .card {
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
    .card i {
      font-size: 30px;
      color: #0d3b47;
      margin-bottom: 10px;
    }