body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f4f6f8;
}

/* Navbar */
.navbar {
  background-color: #0d3b47;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  color: white;
}

.logo img {
  height: 65px;
  margin-right: 10px;
}

.navbar h1 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Login Box */
.login-box {
  width: 350px;
  margin: 80px auto;
  background-color: white;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box h2 {
  color: #0d3b47;
  margin-bottom: 5px;
}

.subtitle {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  font-weight: 500;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 14px;
}

button {
  width: 100%;
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #e68900;
}

.error {
  color: red;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  color: #777;
  font-size: 13px;
  margin-top: 50px;
}




